:root {
  --primary-black-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-color: #f4f4fd;
  --accent-color: #e7e9fc;
  --secondary-white-color: #e5e5e5;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color);
  background-color: var(--white-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.list {
  list-style: none;
}

a,
.link {
  text-decoration: none;
  font-style: normal;
}

button {
  cursor: pointer;
}

/* HEADER */

/* .header{  
  shadow -  #434455
} */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--primary-black-color);
}
.logo-accent {
  color: var(--primary-brand-color);
}
.logo-white {
  color: var(--light-color);
}

.header-navigation .nav-link {
  color: var(--primary-black-color);
  font-weight: 500;
}

.address {
  font-style: normal;
}

.header-address .address-link {
  color: var(--text-color);
}

.header-navigation .nav-link:hover,
.header-navigation .nav-link:focus,
.header-address .address-link:hover,
.header-address .address-link:focus {
  color: var(--pressed-state-color);
}

/* MAIN page */
/* HERO section */

.hero {
  background-color: var(--primary-black-color);
}

.hero-title {
  color: var(--white-color);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
  background-color: var(--primary-brand-color);
  color: var(--white-color);
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* ADVANTAGES section */

.visually-hidden {
  color: rgba(0, 0, 0, 0);
}

.advantage-title,
.team-name {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--primary-black-color);
}
.advantage-description {
  color: var(--text-color);
}

/* SERVICES section */

.services-title,
.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  font-weight: 500;
  color: var(--primary-black-color);
  letter-spacing: 0.02em;
}

/* TEAM section */

.team {
  background-color: var(--light-color);
}

.team-card {
  background-color: var(--white-color);
}

.team-role {
  color: var(--text-color);
}

/* FOOTER */

.footer {
  background-color: var(--primary-black-color);
}

.footer-slogan {
  color: var(--light-color);
}

/* PORTFOLIO page */

.gallery-button {
  background-color: var(--light-color);
  color: var(--primary-brand-color);
  border: 1px solid var(--accent-color);
  letter-spacing: 0.04em;
  font-family: inherit;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
}

.gallery-button:hover,
.gallery-button:focus {
  background-color: var(--pressed-state-color);
  color: var(--white-color);
}

.gallery-card-title {
  font-size: 20px;
  line-height: 1.2;
}

.gallery-card-desc {
  color: var(--text-color);
}
